<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: frontHead"></head>

<body class="common-home res layout-1">

	<div id="wrapper" class="wrapper-fluid banners-effect-3">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: frontHeader"></header>
		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">마이페이지</a></li>
			</ul>

			<div class="row">
				<div id="content" class="col-md-12 col-sm-12 col-xs-12">
					<div class="producttab">
						<div class="tabsslider vertical-tabs col-xs-12">
							<th:block th:replace="fragments/front/common :: myPageSideMenu"></th:block>

							<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pb-3"
								style="border-left:1px solid #ddd;">
								<h3 class="community-title text-center">견적서문의</h3>

								<div class="myPage-main-area">
									<div class="estimate-page-wrap">

										<div class="estimate-page-filter">
											<div class="row gx-2 gy-2">

												<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
													<label for="estimate-page-catL"
														class="estimate-page-filter-label">대분류</label>
													<select id="estimate-page-catL"
														class="form-select estimate-page-control"></select>
												</div>

												<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
													<label for="estimate-page-catM"
														class="estimate-page-filter-label">중분류</label>
													<select id="estimate-page-catM"
														class="form-select estimate-page-control"></select>
												</div>

												<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
													<label for="estimate-page-catS"
														class="estimate-page-filter-label">소분류</label>
													<select id="estimate-page-catS"
														class="form-select estimate-page-control"></select>
												</div>

												<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
													<label for="customer-estimate-brand-keyword"
														class="estimate-page-filter-label">브랜드명</label>
													<div class="customer-estimate-autocomplete-wrap">
														<input type="text" id="customer-estimate-brand-keyword"
															class="form-control estimate-page-control customer-estimate-input"
															placeholder="브랜드명을 입력하세요(부분검색)" autocomplete="off">
														<div id="customer-estimate-brand-suggest"
															class="customer-estimate-suggest-box d-none" role="listbox"
															aria-label="브랜드 자동완성"></div>
													</div>
												</div>
											</div>

											<div class="row gx-2 gy-2 mt-1 estimate-page-filter-row">
												<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
													<div class="estimate-page-formcol">
														<label for="customer-estimate-product-keyword"
															class="estimate-page-filter-label">제품명</label>
														<div class="customer-estimate-autocomplete-wrap">
															<input type="text" id="customer-estimate-product-keyword"
																class="form-control estimate-page-control customer-estimate-input"
																placeholder="제품명을 입력하세요(부분검색)" autocomplete="off">
															<div id="customer-estimate-product-suggest"
																class="customer-estimate-suggest-box d-none"
																role="listbox" aria-label="제품 자동완성"></div>
														</div>
													</div>
												</div>

												<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
													<div class="estimate-page-formcol">
														<label for="customer-estimate-search-btn"
															class="estimate-page-filter-label">검색</label>
														<button id="customer-estimate-search-btn" type="button"
															class="estimate-page-btn w-100">검색</button>
													</div>
												</div>
											</div>
										</div>

										<div class="estimate-page-list mt-3">
											<div class="estimate-page-tableWrap">
												<table class="estimate-page-table">
													<colgroup>
														<col style="width:52px">
														<col style="width:28%">
														<col style="width:14%">
														<col>
														<col style="width:110px">
													</colgroup>
													<thead>
														<tr>
															<th><input type="checkbox" id="estimate-page-checkAll"
																	aria-label="전체 선택"></th>
															<th>제품분류 (대 &gt; 중 &gt; 소)</th>
															<th>브랜드</th>
															<th class="estimate-page-th-prod">제품</th>
															<th>수량</th>
														</tr>
													</thead>
													<tbody id="estimate-page-tbody"></tbody>
												</table>
											</div>
										</div>

										<div class="estimate-page-detail mt-3">
											<label for="customer-estimate-title"
												class="estimate-page-filter-label">제목</label>
											<input type="text" id="customer-estimate-title"
												class="form-control estimate-page-control customer-estimate-input"
												placeholder="미입력 시 '제품견적 문의합니다' 로 자동 저장됩니다.">
										</div>

										<div class="estimate-page-detail mt-3">
											<label for="estimate-page-detail"
												class="estimate-page-filter-label">상세사항</label>
											<textarea id="estimate-page-detail"
												class="form-control estimate-page-textarea" rows="6"
												placeholder="상세 요청사항을 입력하세요."></textarea>
										</div>

										<div class="estimate-page-detail mt-3">
											<label for="customer-estimate-files"
												class="estimate-page-filter-label">첨부파일</label>
											<input type="file" id="customer-estimate-files"
												class="form-control customer-estimate-file-input" multiple
												accept="image/*,.pdf,application/pdf">
											<div id="customer-estimate-file-list" class="customer-estimate-file-list">
											</div>
										</div>

										<div class="estimate-page-actions">
											<button id="estimate-page-applyBtn" type="button"
												class="estimate-page-btn navy" disabled>견적문의</button>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: frontFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: frontScript"></th:block>
	<th:block th:replace="fragments/front/common :: myPageBtnGroup"></th:block>

	<script th:inline="javascript">
		/*<![CDATA[*/
		window.CUSTOMER_ESTIMATE_INITIAL_PRODUCT_ID = /*[[${initialProductId}]]*/ null;
		window.CUSTOMER_ESTIMATE_INITIAL_MAPPING_ID = /*[[${initialMappingId}]]*/ null;
		/*]]>*/
	</script>

	<script src="/front/js/page/estimate.js"></script>
</body>

</html>