<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/front/common :: frontHead"></head>

<body class="common-home res layout-1">

	<div id="rvpAutoData" th:if="${productDetail != null}" th:attr="
        data-rvp-id=${productDetail.id},
        data-rvp-name=${productDetail.name},
        data-rvp-type='DEALER',
        data-rvp-detail-url=@{/dealerProductDetail/{id}(id=${productDetail.id})},
        data-rvp-pricenew=${productDetail.salePrice},
        data-rvp-priceold=${productDetail.salePrice},
        data-rvp-rating=${productDetail.reviewSummary != null ? productDetail.reviewSummary.averageRating : 0},
        data-rvp-review=${productDetail.reviewSummary != null ? productDetail.reviewSummary.reviewCount : 0}
     " style="display:none;"></div>

	<th:block
		th:if="${productDetail != null and productDetail.images != null and !#lists.isEmpty(productDetail.images)}">
		<th:block th:each="img : ${productDetail.images}">
			<th:block th:if="${img.type == 'MAIN' and img.url != null}">
				<script th:inline="javascript">
					(function () {
						var el = document.getElementById('rvpAutoData');
						if (el && !el.getAttribute('data-rvp-image')) {
							el.setAttribute('data-rvp-image', /*[[${img.url}]]*/ '');
						}
					})();
				</script>
			</th:block>
		</th:block>

		<script th:inline="javascript">
			(function () {
				var el = document.getElementById('rvpAutoData');
				if (el && !el.getAttribute('data-rvp-image')) {
					el.setAttribute(
						'data-rvp-image',
						/*[[${productDetail.images[0].url}]]*/ ''
					);
				}
			})();
		</script>
	</th:block>

	<div id="wrapper" class="wrapper-fluid banners-effect-3">
		<header id="header" class="typeheader-1" th:replace="fragments/front/common :: frontHeader"></header>

		<div class="main-container container">
			<ul class="breadcrumb"
				th:with="cat=${productDetail != null and productDetail.categories != null and !#lists.isEmpty(productDetail.categories) ? productDetail.categories[0] : null}">
				<li><a th:href="@{/}"><i class="fa fa-home"></i></a></li>
				<li th:if="${cat != null and cat.largeName != null}">
					<a href="#" th:text="${cat.largeName}">대분류</a>
				</li>
				<li th:if="${cat != null and cat.mediumName != null}">
					<a href="#" th:text="${cat.mediumName}">중분류</a>
				</li>
				<li th:if="${cat != null and cat.smallName != null}">
					<a href="#" th:text="${cat.smallName}">소분류</a>
				</li>
				<li th:if="${cat == null}">
					<a href="#">분류</a>
				</li>
			</ul>

			<div class="row justify-content-center d-flex">
				<div id="content" class="col-md-10 col-sm-12 col-xs-12">

					<div class="product-view row">
						<div class="left-content-product">

							<div class="content-product-left class-honizol col-md-5 col-sm-12 col-xs-12" th:with="mainImage=${productDetail != null and productDetail.images != null and !#lists.isEmpty(productDetail.images) ?
								            ( !#lists.isEmpty(productDetail.images.?[type=='MAIN']) ? productDetail.images.?[type=='MAIN'][0] : productDetail.images[0] )
								            : null}">
								<div class="large-image m-d-n">
									<img itemprop="image" class="product-image-zoom"
										src="/front/image/sample/600-600.png"
										th:src="${mainImage != null and mainImage.url != null ? mainImage.url : '/front/image/sample/600-600.png'}">
								</div>

								<div id="thumb-slider" class="yt-content-slider full_slider owl-drag" data-rtl="yes"
									data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6"
									data-margin="10" data-items_column00="4" data-items_column0="4"
									data-items_column1="3" data-items_column2="4" data-items_column3="1"
									data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes"
									data-loop="no" data-hoverpause="yes"
									th:if="${productDetail != null and productDetail.images != null and !#lists.isEmpty(productDetail.images)}">
									<a data-index="0" class="img thumbnail" data-image="/front/image/sample/600-600.png"
										th:each="img,iter : ${productDetail.images}"
										th:attr="data-index=${iter.index},data-image=${img.url != null ? img.url : '/front/image/sample/600-600.png'}">
										<img src="/front/image/sample/600-600.png"
											th:src="${img.url != null ? img.url : '/front/image/sample/600-600.png'}">
									</a>
								</div>
							</div>

							<div class="content-product-right col-md-7 col-sm-12 col-xs-12">
								<div class="title-product">
									<h1 th:text="${productDetail != null ? productDetail.name : '제품명'}">제품명</h1>
									<p
										th:text="${productDetail != null and productDetail.summaryDescription != null and !#strings.isEmpty(productDetail.summaryDescription) ?
													productDetail.summaryDescription :
													(productDetail != null and productDetail.shortDescription != null ? productDetail.shortDescription : '제품의 간략한 설명')}">
										제품의 간략한 설명
									</p>
								</div>

								<div class="box-review form-group"
									th:with="avg=${dealerReviewSummary != null and dealerReviewSummary.averageRating != null ? dealerReviewSummary.averageRating : 0},
								              reviewCnt=${dealerReviewSummary != null and dealerReviewSummary.reviewCount != null ? dealerReviewSummary.reviewCount : 0}">
									<div class="ratings">
										<div class="rating-box">
											<span class="fa fa-stack" th:each="i : ${#numbers.sequence(1,5)}">
												<i class="fa fa-star fa-stack-1x" th:if="${i <= avg}"></i>
												<i class="fa fa-star-o fa-stack-1x" th:if="${i > avg}"></i>
											</span>
										</div>
									</div>
									<a class="reviews_button" href="#tab-review" th:text="${reviewCnt}">0</a> 개의 리뷰 보기
								</div>

								<div class="product-box-desc">
									<div class="inner-box-desc">
										<div class="price-tax"
											th:if="${productDetail != null and productDetail.code != null}">
											<span>제품코드 : </span>
											<span th:text="${productDetail.code}">DP-0001</span>
										</div>

										<div class="price-tax"
											th:if="${productDetail != null and productDetail.manufacturerText != null}">
											<span>제조사 : </span>
											<span th:text="${productDetail.manufacturerText}">제조사</span>
										</div>

										<div class="price-tax"
											th:if="${productDetail != null and productDetail.supplierText != null}">
											<span>공급사 : </span>
											<span th:text="${productDetail.supplierText}">공급사</span>
										</div>

										<div class="price-tax"
											th:if="${productDetail != null and productDetail.manufacturedAt != null}">
											<span>제조일자 : </span>
											<span
												th:text="${#temporals.format(productDetail.manufacturedAt,'yyyy-MM-dd')}">2026-01-01</span>
										</div>

										<div class="price-tax"
											th:if="${productDetail != null and productDetail.expiredAt != null}">
											<span>유통기한 : </span>
											<span
												th:text="${#temporals.format(productDetail.expiredAt,'yyyy-MM-dd')}">2026-12-31</span>
										</div>

										<div class="price-tax"
											th:each="field : ${productDetail != null ? productDetail.extraFields : null}"
											th:if="${field != null}">
											<span th:text="${'[추가필드] ' + field.label}">추가필드</span>
											<span th:text="${field.value != null ? field.value : '-'}">값</span>
										</div>
									</div>
								</div>

								<div class="product-status-box" th:if="${productDetail != null}">
									<div class="price"
										th:if="${productDetail.salePrice != null or (productDetail.usePriceReplacementText != null and productDetail.usePriceReplacementText and productDetail.priceReplacementText != null and !#strings.isEmpty(productDetail.priceReplacementText))}">
										<b>판매가 :</b>

										<th:block
											th:if="${productDetail.usePriceReplacementText != null and productDetail.usePriceReplacementText and productDetail.priceReplacementText != null and !#strings.isEmpty(productDetail.priceReplacementText)}">
											<span th:text="${productDetail.priceReplacementText}">가격문의</span>
										</th:block>

										<th:block
											th:unless="${productDetail.usePriceReplacementText != null and productDetail.usePriceReplacementText and productDetail.priceReplacementText != null and !#strings.isEmpty(productDetail.priceReplacementText)}">
											<span
												th:text="${#numbers.formatInteger(productDetail.salePrice, 3, 'COMMA')}">0</span>
											<span>원</span>
											<span class="price-old"
												th:if="${productDetail.consumerPrice != null and productDetail.salePrice != null and productDetail.consumerPrice > productDetail.salePrice}"
												style="margin-left:8px; text-decoration:line-through;"
												th:text="${#numbers.formatInteger(productDetail.consumerPrice, 3, 'COMMA')}">
												0
											</span>
										</th:block>
									</div>

									<div class="product-state">
										<span th:if="${productDetail.newStateLabel != null}" class="label label-success"
											th:text="${productDetail.newStateLabel}">신상품</span>
										<span th:if="${productDetail.productStateLabel != null}"
											class="label label-default"
											th:text="${productDetail.productStateLabel}">정상</span>
										<span th:if="${productDetail.displayStatusLabel != null}"
											class="label label-info"
											th:text="${productDetail.displayStatusLabel}">진열상태</span>
										<span th:if="${productDetail.saleStatusLabel != null}"
											class="label label-warning"
											th:text="${productDetail.saleStatusLabel}">판매상태</span>
									</div>
								</div>

								<div id="product" th:attr="
								        data-product-id=${productDetail != null ? productDetail.id : 0},
								        data-target-id=${productDetail != null ? productDetail.id : 0},
								        data-product-type='DEALER',
								        data-product-name=${productDetail != null ? productDetail.name : ''},
								        data-product-sale-price=${productDetail != null && productDetail.salePrice != null ? productDetail.salePrice : 0}
								     ">
									<div class="form-group box-info-product">
										<div class="option quantity" sec:authorize="isAuthenticated()">
											<div class="input-group quantity-control">
												<label>수량</label>
												<input class="form-control" type="text" name="quantity" value="1">
												<input type="hidden" name="product_id"
													th:value="${productDetail != null ? productDetail.id : 0}">
												<input type="hidden" name="product_type" value="DEALER">
												<span class="input-group-addon product_quantity_down">−</span>
												<span class="input-group-addon product_quantity_up">+</span>
											</div>
										</div>

										<div class="cart" sec:authorize="isAuthenticated()">
											<input type="button" id="btn-go-option" value="옵션보기"
												class="btn btn-mega btn-lg">
											<input type="button" data-toggle="tooltip" title="" value="장바구니담기"
												data-loading-text="Loading..." id="button-cart"
												class="btn btn-mega btn-lg" data-product-type="DEALER"
												data-original-title="장바구니담기">
											<input type="button" value="바로구매" class="btn btn-mega btn-lg"
												data-product-type="DEALER">
										</div>

										<div class="add-to-links wish_comp" sec:authorize="isAuthenticated()">
											<ul class="blank list-inline">
												<li class="wishlist">
													<a class="icon ibio-wish-toggle" data-original-title="관심상품등록"
														th:attr="data-product-id=${productDetail.id},data-target-id=${productDetail.id},data-product-type='DEALER'">
														<i class="fa fa-heart"></i>
													</a>
												</li>
											</ul>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="producttab">
						<div class="tabsslider vertical-tabs col-xs-12">
							<ul class="nav nav-tabs col-lg-2 col-sm-3">
								<li class="active"><a data-toggle="tab" href="#tab-detail">상세페이지</a></li>
								<li class="item_nonactive"><a data-toggle="tab" href="#tab-option">옵션</a></li>
								<li class="item_nonactive"><a data-toggle="tab" href="#tab-delivery">배송안내</a></li>
								<li class="item_nonactive"><a data-toggle="tab" href="#tab-review">리뷰</a></li>
							</ul>

							<div class="tab-content col-lg-10 col-sm-9 col-xs-12">

								<div id="tab-detail" class="tab-pane fade active in">
									<div th:if="${productDetail != null and productDetail.detailHtml != null and !#strings.isEmpty(productDetail.detailHtml)}"
										th:utext="${productDetail.detailHtml}">
										<img src="/front/image/sample/1130-1600.png" class="img-responsive">
									</div>

									<div
										th:if="${productDetail != null and (productDetail.detailHtml == null or #strings.isEmpty(productDetail.detailHtml))}">
										<div
											th:if="${productDetail.detailImages != null and !#lists.isEmpty(productDetail.detailImages)}">
											<img class="img-responsive" th:each="dimg : ${productDetail.detailImages}"
												src="/front/image/sample/1130-1600.png"
												th:src="${dimg.url != null ? dimg.url : '/front/image/sample/1130-1600.png'}"
												th:alt="${dimg.originalFilename != null ? dimg.originalFilename : '상세이미지'}">
										</div>
										<p th:if="${productDetail.detailImages == null or #lists.isEmpty(productDetail.detailImages)}"
											class="text-center">
											등록된 상세페이지가 없습니다.
										</p>
									</div>
								</div>

								<div id="tab-option" class="tab-pane fade">
									<div class="product-list-option-panel">
										<div class="product-list-option-inner">
											<div class="table-responsive">
												<table class="table table-bordered product-list-option-table">
													<thead>
														<tr>
															<th>Cat. No</th>
															<th>품명</th>
															<th>판매가</th>
															<th>단위</th>
															<th class="product-list-qty">수량</th>
															<th>선택</th>
														</tr>
													</thead>
													<tbody>
														<tr
															th:if="${productDetail == null or productDetail.optionGroups == null or #lists.isEmpty(productDetail.optionGroups)}">
															<td colspan="6" class="text-center">등록된 옵션이 없습니다.</td>
														</tr>

														<th:block
															th:each="group : ${productDetail != null ? productDetail.optionGroups : null}"
															th:if="${group != null}">
															<tr>
																<td colspan="6" class="product-list-option-group"
																	th:text="${group.name}">옵션 그룹명</td>
															</tr>

															<tr th:each="opt : ${group.options}" th:if="${opt != null}"
																th:with="
															        basePrice=${productDetail.salePrice},
															        extraInt=${opt.extraPrice != null ? opt.extraPrice.intValue() : 0},
															        signMul=${opt.sign != null and opt.sign == 'MINUS' ? -1 : 1},
															        finalPrice=${basePrice != null ? basePrice + (extraInt * signMul) : null}
															    " th:attr="
															        data-option-id=${opt.id},
															        data-option-group-id=${group.id},
															        data-option-group-name=${group.name},
															        data-option-name=${opt.name},
															        data-option-code=${opt.value},
															        data-product-type='DEALER',
															        data-price=${finalPrice != null ? finalPrice : 0}
															    ">
																<td th:text="${opt.value != null ? opt.value : '-'}">
																	357531</td>
																<td th:text="${opt.name != null ? opt.name : '-'}">옵션명
																</td>
																<td class="text-right"
																	th:text="${finalPrice != null ? #numbers.formatInteger(finalPrice,3,'COMMA') : '가격문의'}">
																	72,405
																</td>
																<td>-</td>
																<td class="product-list-qty">
																	<input type="number"
																		class="form-control input-sm product-list-qty-input"
																		value="1" min="1">
																</td>
																<td class="text-center">
																	<input type="checkbox"
																		class="product-list-row-check"
																		th:attr="data-price=${finalPrice != null ? finalPrice : 0}">
																</td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>

											<div class="product-list-total">
												<span class="product-list-total-label">Total.</span>
												<span class="product-list-total-price">0</span>
												<span class="product-list-won"> 원</span>
											</div>

											<ul class="product-list-notes">
												<li>제품 가격 표시는 Cat. No. 단일 기준이며 옵션 총합과 다를 수 있습니다.</li>
												<li>가격/사양은 제조/공급사의 정책 변경에 따라 사전 공지 없이 변경될 수 있습니다.</li>
											</ul>

											<div class="product-list-bottom-btns" sec:authorize="isAuthenticated()">
												<button type="button" class="product-list-btn product-list-btn-quote"
													data-product-type="DEALER">견적내기</button>
												<button type="button" class="product-list-btn product-list-btn-buy"
													data-product-type="DEALER">장바구니담기</button>
											</div>
										</div>
									</div>
								</div>

								<div id="tab-delivery" class="tab-pane fade">
									<img src="/front/image/sample/1130-900.png" class="img-responsive">
								</div>

								<div id="tab-review" class="tab-pane fade">
									<form id="dealer-review-form" onsubmit="return false;">
										<div id="review">
											<table class="table table-striped table-bordered review-table">
												<thead>
													<tr>
														<td class="m-d-n">NO</td>
														<td class="m-d-n">상품</td>
														<td>내용</td>
														<td>별점</td>
														<td>작성자/작성일</td>
													</tr>
												</thead>
												<tbody>
													<tr
														th:if="${dealerReviews == null or #lists.isEmpty(dealerReviews)}">
														<td colspan="5" class="text-center">등록된 리뷰가 없습니다.</td>
													</tr>

													<tr th:each="rv, stat : ${dealerReviews}" th:if="${rv != null}"
														th:attr="data-review-id=${rv.id}">
														<td class="m-d-n" th:text="${stat.index + 1}">1</td>

														<td class="m-d-n">
															<div class="dealer-review-product-cell">
																<h5
																	th:text="${productDetail != null ? productDetail.name : '제품명'}">
																	제품명</h5>
															</div>
														</td>

														<td>
															<textarea class="dealer-review-hidden-content"
																style="display:none;"
																th:text="${rv.content}"></textarea>

															<p class="dealer-review-row-content"
																th:text="${rv.content}">
																제품에 대한 리뷰 의견.
															</p>

															<div class="dealer-review-row-images"
																th:if="${rv.images != null and !#lists.isEmpty(rv.images)}"
																style="margin-top:10px;">
																<div class="dealer-review-row-image-item"
																	th:each="img : ${rv.images}" th:if="${img != null}"
																	style="display:inline-block; margin-right:8px; margin-bottom:8px;"
																	th:attr="data-image-id=${img.id},
                                              data-image-url=${img.url},
                                              data-image-name=${img.originalFilename != null ? img.originalFilename : ''}">
																	<img width="80" class="img-responsive"
																		src="/front/image/sample/270-270.png"
																		th:src="${img.url != null ? img.url : '/front/image/sample/270-270.png'}"
																		th:alt="${img.originalFilename != null ? img.originalFilename : '리뷰 이미지'}">
																</div>
															</div>

															<div class="dealer-review-row-actions"
																th:if="${loginMemberId != null and rv.memberId != null and loginMemberId == rv.memberId}"
																style="margin-top:10px;">
																<button type="button"
																	class="btn btn-default btn-xs dealer-review-edit-btn"
																	th:attr="data-review-id=${rv.id},data-review-rating=${rv.rating}">
																	수정
																</button>
																<button type="button"
																	class="btn btn-danger btn-xs dealer-review-delete-btn"
																	th:attr="data-review-id=${rv.id}">
																	삭제
																</button>
															</div>
														</td>

														<td>
															<div class="ratings">
																<div class="rating-box">
																	<span class="fa fa-stack"
																		th:each="i : ${#numbers.sequence(1,5)}">
																		<i class="fa fa-star fa-stack-1x"
																			th:if="${rv.rating != null and i <= rv.rating}"></i>
																		<i class="fa fa-star-o fa-stack-1x"
																			th:if="${rv.rating == null or i > rv.rating}"></i>
																	</span>
																</div>
															</div>
														</td>

														<td th:with="name=${rv.memberDisplayName != null ? rv.memberDisplayName : '비회원'},
                                     dateStr=${rv.createdAt != null ? #temporals.format(rv.createdAt,'yyyy-MM-dd') : ''}"
															th:text="${name + ' / ' + dateStr}">
															이름 / 날짜
														</td>
													</tr>
												</tbody>
											</table>
										</div>

										<h2 id="review-title">리뷰작성</h2>

										<div class="contacts-form" th:attr="data-dealer-product-id=${productDetail != null ? productDetail.id : 0},
                      data-login-member-id=${loginMemberId != null ? loginMemberId : 0}">
											<div class="form-group">
												<div id="dealer-review-permission-message" class="alert alert-info"
													style="margin-bottom:15px;">
													로그인 후 리뷰 작성 가능 여부를 확인합니다.
												</div>
											</div>

											<div class="form-group">
												<span class="icon icon-bubbles-2"></span>
												<textarea id="review-content" class="form-control"
													placeholder="리뷰 내용을 입력해 주세요." readonly></textarea>
											</div>

											<div class="form-group" id="dealer-review-existing-images-wrap"
												style="display:none;">
												<label>기존 이미지</label>
												<div id="dealer-review-existing-images" class="row"></div>
												<p class="help-block" style="margin-top:8px;">수정 시 삭제할 이미지를 체크하실 수 있습니다.
												</p>
											</div>

											<div class="form-group">
												<label for="review-images">새 이미지 첨부 (선택, 여러 장 가능)</label>
												<input type="file" id="review-images" name="images" class="form-control"
													accept="image/*" multiple disabled>
											</div>

											<div class="form-group" id="dealer-review-new-images-preview-wrap"
												style="display:none;">
												<label>새로 선택한 이미지</label>
												<div id="dealer-review-new-images-preview" class="row"></div>
											</div>

											<div class="form-group">
												<b>별점</b>
												<span>BAD</span>&nbsp;
												<input type="radio" name="rating" value="1" disabled> &nbsp;
												<input type="radio" name="rating" value="2" disabled> &nbsp;
												<input type="radio" name="rating" value="3" disabled> &nbsp;
												<input type="radio" name="rating" value="4" disabled> &nbsp;
												<input type="radio" name="rating" value="5" disabled> &nbsp;
												<span>GOOD</span>
											</div>

											<div class="buttons clearfix">
												<a id="button-review" class="btn buttonGray disabled"
													aria-disabled="true">리뷰작성</a>
												<a id="button-review-cancel" class="btn buttonGray"
													style="display:none;">수정취소</a>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: frontFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: frontScript"></th:block>
	<script th:inline="javascript">
		/*<![CDATA[*/
		window.DEALER_PRODUCT_DETAIL_ID = /*[[${productDetail != null ? productDetail.id : 0}]]*/ 0;
		window.DEALER_PRODUCT_REVIEW_PERMISSION_URL =
        /*[[@{/api/front/dealer-product/{id}/review/permission(id=${productDetail != null ? productDetail.id : 0})}]]*/ '';
		window.DEALER_PRODUCT_REVIEW_CREATE_URL =
        /*[[@{/api/front/dealer-product/{id}/review(id=${productDetail != null ? productDetail.id : 0})}]]*/ '';
    /*]]>*/
	</script>
	<script src="/front/js/page/dealerProductDetail.js"></script>
	
	<style>
		.dealer-review-delete-btn, .dealer-review-edit-btn{
			width:80px;
			height:40px;
			
		}
	</style>
</body>

</html>