<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="frontHead">

	<title>아이바이오</title>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="">
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link href="/front/ico/favicon-16x16.png" rel="shortcut icon" type="/front/image/png" />
	<link href="/front/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/front/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/front/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="/front/js/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="/front/css/themecss/lib.css" rel="stylesheet">
	<link href="/front/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
	<link href="/front/js/minicolors/miniColors.css" rel="stylesheet">
	<link href="/front/css/themecss/so_searchpro.css" rel="stylesheet">
	<link href="/front/css/themecss/so_megamenu.css" rel="stylesheet">
	<link href="/front/css/themecss/so-categories.css" rel="stylesheet">
	<link href="/front/css/themecss/so-listing-tabs.css" rel="stylesheet">
	<link href="/front/css/themecss/so-category-slider.css" rel="stylesheet">
	<link href="/front/css/themecss/so-newletter-popup.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link href="/front/css/footer/footer1.css" rel="stylesheet">
	<link href="/front/css/header/header1.css" rel="stylesheet">
	<link href="/front/css/theme.css" id="color_scheme" rel="stylesheet">
	<link href="/front/css/responsive.css" rel="stylesheet">
	<link href="/front/css/add.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
	<link href="/front/css/ibio-index-megamenu.css" rel="stylesheet">
	<link href="/front/css/page/footer.css" rel="stylesheet">
	<link href="/front/css/page/productList.css" rel="stylesheet">
	<link href="/front/css/page/dealerProductList.css" rel="stylesheet">
	<link href="/front/css/page/all.css" rel="stylesheet">
	<link href="/front/css/page/community.css" rel="stylesheet">
	<link href="/front/css/page/myPage.css" rel="stylesheet">
	<link href="/front/css/page/common.css" rel="stylesheet">
	<link href="/front/css/page/payment.css" rel="stylesheet">
</head>

<header id="header" class="typeheader-1" th:fragment="frontHeader">

	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="header-top-left col-lg-7 col-md-8 col-sm-6 col-xs-4">
					<div class="hidden-md hidden-sm hidden-xs welcome-msg">
						아이바이오 미국 보스턴 바이오 전시회 참여기업 선정
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header-middle">
		<div class="container">
			<div class="row">
				<!-- 로고 -->
				<div class="navbar-logo col-lg-2 col-md-3 col-sm-12 col-xs-12">
					<div class="logo">
						<a href="#"><img height="40px;" src="/front/image/sample/250-40.png" title="#" alt="#" /></a>
					</div>
				</div>

				<!-- 검색 박스 (모바일에서 우측으로) -->
				<div class="col-lg-7 col-md-6 col-sm-12">
					<div class="search-header-w">
						<!-- 모바일: 햄버거/돋보기 (991px 미만에서만 표시) -->
						<div class="ibio-index-mobile-icons hidden-lg hidden-md">
							<button id="ibio-index-hamburger" class="ibio-index-hamburger" aria-label="모바일 메뉴 열기">
								<span></span><span></span><span></span>
							</button>
							<button id="ibio-index-mobile-search" class="ibio-index-mobile-search" aria-label="검색 열기">
								<i class="fa fa-search"></i>
							</button>
						</div>

						<!-- PC 기본 검색 폼 -->
						<div id="sosearchpro" class="sosearchpro-wrapper so-search">
							<form id="ibio-index-pc-search-form" method="GET" action="#">
								<div id="search0" class="search input-group form-group ibio-index-pc-searchbox">
									<input id="ibio-index-pc-search-input" class="autosearch-input form-control"
										type="text" value="" autocomplete="off" placeholder="검색어를 입력 해 주세요."
										name="search" />
									<button type="submit" class="button-search btn btn-primary" name="submit_search"
										aria-label="검색">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</form>

							<!-- PC: 최근검색어 드롭다운 -->
							<div id="ibio-index-search-dropdown" class="ibio-index-search-dropdown" aria-hidden="true">
								<div class="ibio-index-search-dd-head">
									<span>최근 검색어</span>
									<button type="button" id="ibio-index-search-dd-clear"
										class="ibio-index-search-dd-clear">모두 지우기</button>
								</div>
								<!-- ▼ 내부 스크롤/필터링 대상 컨테이너 -->
								<div id="ibio-index-search-dd-list" class="ibio-index-search-dd-list">
									<!-- JS로 채움 -->
								</div>
							</div>
						</div>
						<!-- // PC 검색 -->
					</div>
				</div>

				<!-- 오른쪽 아이콘/텍스트 영역 (원본 유지) -->
				<div class="middle-right col-lg-3 col-md-3 col-sm-3">
					<ul class="front-header-quick hidden-md hidden-sm hidden-xs">
						<li class="front-header-item" sec:authorize="!isAuthenticated()">
							<a href="/signIn" class="front-header-link" title="로그인">
								<i class="fa fa-sign-in" aria-hidden="true"></i>
								<span class="front-header-text">로그인</span>
							</a>
						</li>
						<li class="front-header-item" sec:authorize="!isAuthenticated()">
							<a href="/personalSignUp" class="front-header-link" title="회원가입">
								<i class="fa fa-user-plus" aria-hidden="true"></i>
								<span class="front-header-text">회원가입</span>
							</a>
						</li>
						<li class="front-header-item"
							sec:authorize="isAuthenticated() and authentication.principal.staffPortalUser">
							<a href="/admin" class="front-header-link" title="관리자">
								<i class="fa fa-shield" aria-hidden="true"></i>
								<span class="front-header-text">관리자</span>
							</a>
						</li>

						<li class="front-header-item"
							sec:authorize="isAuthenticated() and authentication.principal.sellerPortalUser">
							<a href="/seller/page/main" class="front-header-link" title="판매관리">
								<i class="fa fa-store" aria-hidden="true"></i>
								<span class="front-header-text">판매관리</span>
							</a>
						</li>
						<li class="front-header-item" sec:authorize="isAuthenticated()">
							<form id="logoutForm-desktop" th:action="@{/logout}" method="post" style="display:none;">
							</form>
							<a href="#" class="front-header-link" title="로그아웃" id="logoutBtn-desktop">
								<i class="fa fa-sign-out" aria-hidden="true"></i>
								<span class="front-header-text">로그아웃</span>
							</a>
						</li>
						<!-- 장바구니/찜/주문 (원본 유지) -->
						<li class="front-header-item" sec:authorize="!isAuthenticated()">
							<a href="/customer/cart" class="front-header-link require-auth" title="장바구니"
								data-require-auth="true">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
								<span class="front-header-text">장바구니</span>
							</a>
						</li>
						<li class="front-header-item" sec:authorize="!isAuthenticated()">
							<a href="/customer/wishList" class="front-header-link require-auth" title="찜목록"
								data-require-auth="true">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span class="front-header-text">관심상품</span>
							</a>
						</li>
						<li class="front-header-item" sec:authorize="!isAuthenticated()">
							<a href="/customer/orderList" class="front-header-link require-auth" title="주문조회"
								data-require-auth="true">
								<i class="fa fa-truck" aria-hidden="true"></i>
								<span class="front-header-text">주문조회</span>
							</a>
						</li>
						<li class="front-header-item" sec:authorize="isAuthenticated()">
							<a th:href="@{'/customer/cart/' + ${#authentication.principal.member.id}}"
								class="front-header-link" title="장바구니">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
								<span class="front-header-text">장바구니</span>
								<span class="front-header-cart-count">0</span>
							</a>
						</li>
						<li class="front-header-item" sec:authorize="isAuthenticated()">
							<a th:href="@{'/customer/wishList/' + ${#authentication.principal.member.id}}"
								class="front-header-link" title="찜목록">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span class="front-header-text">관심상품</span>
								<span class="front-header-wish-count">0</span>
							</a>
						</li>

						<li class="front-header-item" sec:authorize="isAuthenticated()">
							<a th:href="@{'/customer/orderList/' + ${#authentication.principal.member.id}}"
								class="front-header-link" title="주문조회">
								<i class="fa fa-truck" aria-hidden="true"></i>
								<span class="front-header-text">주문조회</span>
							</a>
						</li>
						<li class="front-header-item" sec:authorize="isAuthenticated()">
							<a th:href="@{'/customer/myPage/' + ${#authentication.principal.member.id}}"
								class="front-header-link" title="마이페이지">
								<i class="fa fa-user" aria-hidden="true"></i>
								<span class="front-header-text">마이페이지</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- // 오른쪽 -->
			</div>
		</div>
	</div>


	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="main-menu-w col-lg-12 col-md-9" style="position:relative;">
					<!-- 1차 네비 -->
					<div class="responsive so-megamenu megamenu-style-dev">
						<nav class="navbar-default">
							<div class="container-megamenu horizontal open ">
								<div class="megamenu-wrapper">
									<div class="megamenu-pattern">
										<div class="container-mega">
											<ul class="megamenu">
												<li>
													<a href="#" class="clearfix" id="ibio-index-allcat-trigger"
														aria-label="전체카테고리">
														<i class="fa fa-bars" aria-hidden="true"></i>
														<strong>전체카테고리</strong>
													</a>
												</li>
												<li><a href="#" class="clearfix"><strong>HOME</strong></a></li>
												<li><a href="#" class="clearfix"><strong>이벤트</strong></a></li>
												<li><a href="/dealerProductList" class="clearfix"><strong>딜러샾</strong></a></li>
												<li><a href="#" class="clearfix"><strong>브랜드</strong></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</nav>
					</div>

					<!-- ===== PC/Tablet 메가메뉴 ===== -->
					<div id="ibio-index-mega" class="ibio-index-mega" aria-hidden="true">
						<div class="ibio-index-mega-inner">
							<div class="ibio-index-col">
								<div class="ibio-index-col-head">대분류</div>
								<ul id="ibio-index-large-list" class="ibio-index-col-list"></ul>
							</div>
							<div class="ibio-index-col">
								<div class="ibio-index-col-head">중분류</div>
								<ul id="ibio-index-medium-list" class="ibio-index-col-list ibio-index-empty"></ul>
							</div>
							<div class="ibio-index-col">
								<div class="ibio-index-col-head">소분류</div>
								<ul id="ibio-index-small-list" class="ibio-index-col-list ibio-index-empty"></ul>
							</div>
							<div class="ibio-index-col">
								<div class="ibio-index-col-head">브랜드</div>
								<div id="ibio-index-brand-list" class="ibio-index-brand-list ibio-index-disabled"></div>
							</div>
							<div class="ibio-index-col">
								<div class="ibio-index-col-head">
									<a id="ibio-index-product-list-link" class="ibio-index-link disabled"
										href="javascript:void(0)" aria-disabled="true">제품리스트페이지</a>
									<button id="ibio-index-mega-close" class="ibio-index-close"
										aria-label="닫기">×</button>
								</div>
								<ul id="ibio-index-product-list" class="ibio-index-col-list ibio-index-empty"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ===== 모바일: 풀스크린 오버레이 (폭 100%) ===== -->
	<div id="ibio-index-m-overlay" class="ibio-index-m-overlay" aria-hidden="true">
		<div class="ibio-index-m-panel" id="ibio-index-m-panel" data-state="hidden">
			<!-- 상단 카드 -->
			<div class="ibio-index-m-card">
				<div class="ibio-index-m-card-top">
					<div class="ibio-index-m-header-title">(주)아이바이오사이언스</div>
					<button id="ibio-index-m-close" class="ibio-index-m-close" aria-label="닫기">×</button>
				</div>

				<div class="ibio-index-m-card-mid">
					<div class="ibio-index-m-avatar">
						<img src="/front/image/sample/100-100.png" alt="">
					</div>

					<!-- 비로그인 메시지 -->
					<div class="ibio-index-m-hello" sec:authorize="!isAuthenticated()">
						<div>비회원입니다.</div>
						<div>로그인을 해주세요.</div>
					</div>

					<!-- 로그인 환영 메시지 -->
					<div class="ibio-index-m-hello" sec:authorize="isAuthenticated()">
						<div><strong sec:authentication="name">회원</strong>님 반갑습니다.</div>
						<div>즐거운 쇼핑 되세요!</div>
					</div>

					<!-- 비로그인: 로그인/회원가입 버튼 -->
					<div class="ibio-index-m-login" sec:authorize="!isAuthenticated()">
						<a class="ibio-index-m-btn ibio-index-m-btn-primary" href="/signIn">로그인</a>
						<a class="ibio-index-m-btn" href="/personalSignUp">회원가입</a>
					</div>

					<!-- 로그인: 로그아웃 + (관리자 전용) 관리자 버튼 -->
					<div class="ibio-index-m-login" sec:authorize="isAuthenticated()">
						<form id="logoutForm-mobile" th:action="@{/logout}" method="post" style="display:none;"></form>
						<button class="ibio-index-m-btn ibio-index-m-btn-primary" id="logoutBtn-mobile">로그아웃</button>

						<!-- 관리자 -->
						<a class="ibio-index-m-btn" href="/admin"
							sec:authorize="authentication.principal.staffPortalUser">
							<i class="fas fa-user-shield" aria-hidden="true"></i>
							관리자
						</a>

						<!-- 판매딜러 포털 -->
						<a class="ibio-index-m-btn" href="/seller/page/main"
							sec:authorize="authentication.principal.sellerPortalUser">
							<i class="fas fa-store" aria-hidden="true"></i>
							판매관리
						</a>
					</div>
				</div>

				<!-- ========== 빠른 메뉴 1줄: 장바구니/주문리스트/관심상품 ========== -->

				<!-- 비로그인 버전 (원래 경로 + require-auth) -->
				<div class="ibio-index-m-quick" sec:authorize="!isAuthenticated()">
					<a class="ibio-index-m-qitem require-auth" href="/customer/cart" data-require-auth="true"
						title="장바구니">
						<div class="ibio-index-m-qnum">0건</div>
						<div>장바구니</div>
					</a>
					<a class="ibio-index-m-qitem require-auth" href="/customer/orderList" data-require-auth="true"
						title="주문리스트">
						<div class="ibio-index-m-qnum">0건</div>
						<div>주문리스트</div>
					</a>
					<a class="ibio-index-m-qitem require-auth" href="/customer/wishList" data-require-auth="true"
						title="관심상품">
						<div class="ibio-index-m-qnum">0건</div>
						<div>관심상품</div>
					</a>
				</div>

				<!-- 로그인 버전 (② 회원 ID 포함 경로) -->
				<div class="ibio-index-m-quick" sec:authorize="isAuthenticated()">
					<a class="ibio-index-m-qitem"
						th:href="@{'/customer/cart/' + ${#authentication.principal.member.id}}" title="장바구니">
						<div class="ibio-index-m-qnum">0건</div>
						<div>장바구니</div>
					</a>
					<a class="ibio-index-m-qitem"
						th:href="@{'/customer/orderList/' + ${#authentication.principal.member.id}}" title="주문리스트">
						<div class="ibio-index-m-qnum">0건</div>
						<div>주문리스트</div>
					</a>
					<a class="ibio-index-m-qitem"
						th:href="@{'/customer/wishList/' + ${#authentication.principal.member.id}}" title="관심상품">
						<div class="ibio-index-m-qnum">0건</div>
						<div>관심상품</div>
					</a>
				</div>

				<!-- ========== 빠른 메뉴 2줄: 마이페이지/견적문의/1:1문의 ========== -->

				<!-- 비로그인 버전 (원래 경로 + require-auth) -->
				<div class="ibio-index-m-quick" sec:authorize="!isAuthenticated()">
					<a class="ibio-index-m-qitem require-auth" href="/customer/myPage" data-require-auth="true"
						title="마이페이지">
						<div class="ibio-index-m-qnum"><i class="fas fa-user-circle"></i></div>
						<div>마이페이지</div>
					</a>
					<a class="ibio-index-m-qitem require-auth" href="/customer/estimate" data-require-auth="true"
						title="견적문의">
						<div class="ibio-index-m-qnum"><i class="fas fa-file-invoice-dollar"></i></div>
						<div>견적문의</div>
					</a>
					<a class="ibio-index-m-qitem require-auth" href="/customer/inquiry" data-require-auth="true"
						title="1:1문의">
						<div class="ibio-index-m-qnum"><i class="fas fa-headset"></i></div>
						<div>1:1문의</div>
					</a>
				</div>

				<!-- 로그인 버전 (② 회원 ID 포함 경로) -->
				<div class="ibio-index-m-quick" sec:authorize="isAuthenticated()">
					<a class="ibio-index-m-qitem"
						th:href="@{'/customer/myPage/' + ${#authentication.principal.member.id}}" title="마이페이지">
						<div class="ibio-index-m-qnum"><i class="fas fa-user-circle"></i></div>
						<div>마이페이지</div>
					</a>
					<a class="ibio-index-m-qitem"
						th:href="@{'/customer/estimate/' + ${#authentication.principal.member.id}}" title="견적문의">
						<div class="ibio-index-m-qnum"><i class="fas fa-file-invoice-dollar"></i></div>
						<div>견적문의</div>
					</a>
					<a class="ibio-index-m-qitem"
						th:href="@{'/customer/inquiry/' + ${#authentication.principal.member.id}}" title="1:1문의">
						<div class="ibio-index-m-qnum"><i class="fas fa-headset"></i></div>
						<div>1:1문의</div>
					</a>
				</div>


				<div class="ibio-index-m-quick">
					<!-- 이벤트는 전체 접근 허용이라면 require-auth 제거 가능. 여기선 로그인 불필요로 가정 -->
					<a class="ibio-index-m-qitem" href="/eventList" title="이벤트">
						<div class="ibio-index-m-qnum"><i class="fas fa-gift"></i></div>
						<div>이벤트</div>
					</a>
					<a class="ibio-index-m-qitem" href="/dealerShop" title="딜러샾">
						<div class="ibio-index-m-qnum"><i class="fas fa-store"></i></div>
						<div>딜러샾</div>
					</a>
					<a class="ibio-index-m-qitem" href="/dealerShop" title="브랜드">
						<div class="ibio-index-m-qnum"><i class="fas fa-tags"></i></div>
						<div>브랜드</div>
					</a>
				</div>
			</div>

			<!-- 카테고리/기타 섹션은 기존 동일 -->
			<div class="ibio-index-m-section">
				<ul id="ibio-index-m-large" class="ibio-index-m-list"></ul>
			</div>

			<div class="ibio-index-m-etc">
				<div class="ibio-index-m-ask">
					<div class="ibio-index-m-ask-title">문의하기</div>
					<div class="ibio-index-m-ask-desc">궁금하시거나 의뢰가 필요하신가요?</div>
					<div class="ibio-index-m-ask-desc">빠르게 피드백 드리겠습니다.</div>
				</div>
				<div class="ibio-index-m-call">
					<div class="ibio-index-m-call-title">상담문의</div>
					<div class="ibio-index-m-call-phone">02-743-7190</div>
					<div class="ibio-index-m-call-desc">평일 : 10:00 ~ 17:00 / 토요일, 일요일, 공휴일 휴무</div>
				</div>
				<button id="ibio-index-brand-fab" class="ibio-index-brand-fab" title="브랜드 선택" disabled>
					<i class="fa fa-tags"></i>
				</button>
			</div>

			<!-- 모바일: 브랜드 모달 기존 동일 -->
			<div id="ibio-index-brand-modal" class="ibio-index-brand-modal" aria-hidden="true">
				<div class="ibio-index-brand-modal-dialog">
					<div class="ibio-index-brand-modal-head">
						<strong>브랜드 선택</strong>
						<button id="ibio-index-brand-modal-close" class="ibio-index-close" aria-label="닫기">×</button>
					</div>
					<div class="ibio-index-brand-modal-body" id="ibio-index-brand-modal-body"></div>
				</div>
			</div>
		</div>
	</div>


	<!-- ===== 모바일: 전체폭 검색 모달 ===== -->
	<div id="ibio-index-m-search-overlay" class="ibio-index-m-search-overlay" aria-hidden="true">
		<div class="ibio-index-m-search-dialog">
			<div class="ibio-index-m-search-head">
				<div class="ibio-index-m-search-title"><i class="fa fa-search"></i> 검색</div>
				<button id="ibio-index-m-search-close" class="ibio-index-m-search-close" aria-label="닫기">×</button>
			</div>
			<form id="ibio-index-m-search-form" class="ibio-index-m-search-form" action="#" method="GET">
				<input id="ibio-index-m-search-input" class="ibio-index-m-search-input" type="text"
					placeholder="검색어를 입력하세요" name="search" autocomplete="off">
				<button type="submit" class="ibio-index-m-search-btn"><i class="fa fa-search"></i></button>
			</form>
			<div class="ibio-index-m-search-recent">
				<div class="ibio-index-m-search-recent-head">
					<span>최근 검색어</span>
					<button id="ibio-index-m-search-clear" type="button" class="ibio-index-m-search-clear">모두
						지우기</button>
				</div>
				<!-- ▼ 내부 스크롤/필터링 대상 컨테이너 -->
				<div id="ibio-index-m-search-recent-list" class="ibio-index-m-search-recent-list">
					<!-- JS로 채움 -->
				</div>
			</div>
		</div>
	</div>
</header>

<footer class="footer-container" id="front-footer" role="contentinfo" th:fragment="frontFooter">
	<!-- ▣ 상단 슬랩: 단일 배경 + 세로 나눔선 -->
	<div class="front-footer-slab">
		<div class="container">
			<div class="row g-0 front-footer-row">

				<!-- 고객센터 : mobile 6 / md 4 / lg 3 -->
				<div class="col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3 front-footer-cell front-footer-cell--cs">
					<div class="front-footer-cell-inner">
						<h3 class="front-footer-title">고객센터</h3>
						<p class="front-footer-cs-phone">031. 575. 2272</p>
						<div class="front-footer-meta">
							<div class="m-d-n">Fax : 031-575-2273</div>
							<div class="m-d-n">E-mail : ibiosci@naver.com</div>
							<div>상담시간 : AM 10:00 ~ PM 17:00 (토·일요일 및 공휴일 휴무)</div>
							<div>점심시간 : PM 12:00 ~ PM 13:00</div>
						</div>
					</div>
				</div>

				<!-- 무통장 : mobile 6 / md 4 / lg 3 -->
				<div class="col-6 col-xs-6 col-sm-4 col-md-4 col-lg-3 front-footer-cell front-footer-cell--bank">
					<div class="front-footer-cell-inner">
						<h3 class="front-footer-title">무통장입금 안내</h3>
						<div class="front-footer-bank">
							<div class="front-footer-bank-name">국민은행</div>
							<div class="front-footer-bank-acc">0000000-00-000000</div>
						</div>
						<div class="front-footer-bank-meta">
							<div>예금주 : (주)아이바이오</div>
							<div class="front-footer-bank-notice">
								입금자 성함과 기재하신 입금자명이 다를 경우 확인이 지연될 수 있으며
								고객센터로 입금확인 부탁드립니다.
							</div>
						</div>
					</div>
				</div>

				<!-- ▣ 모바일 전용: 무한 스크롤 공지 (bank 바로 아래 표시) -->
				<div
					class="col-12 col-sm-12 col-lg-12 col-xs-12 front-footer-cell front-footer-cell--ticker-mo p-r-n p-l-n">
					<a href="#" class="front-footer-ticker front-footer-ticker--mo" aria-label="공지사항 게시판 이동">
						<div class="front-footer-ticker-inner">
							<div class="front-footer-ticker-track" id="front-footer-ticker-track-mo"></div>
						</div>
					</a>
				</div>

				<!-- 배송조회 : mobile 12 / md 4 / lg 3 -->
				<div class="col-12 col-sm-4 col-md-4 col-lg-3 front-footer-cell front-footer-cell--ship">
					<div class="front-footer-cell-inner">
						<h3 class="front-footer-title m-d-n">배송조회</h3>
						<div class="front-footer-ship">
							<div class="front-footer-ship-label">
								경동택배 : <span class="front-footer-ship-tel">1899-5368</span>
							</div>
							<a href="#" class="front-footer-ship-btn" role="button" aria-label="배송현황 조회하기">
								배송현황 조회하기
								<span class="front-footer-ship-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>
				</div>

				<!-- 공지사항(PC 전용) : mobile none / md none / lg 3 -->
				<div class="col-lg-3 front-footer-cell front-footer-cell--notice t-d-n">
					<div class="front-footer-cell-inner">
						<div class="front-footer-title front-footer-title--withlink">
							공지사항
							<a class="front-footer-more" href="#">공지사항 바로가기 ▸</a>
						</div>
						<ul class="front-footer-notice-list" id="front-footer-notice-list-pc" aria-label="공지사항 최신 5개">
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- ▣ 링크바 -->
	<div class="front-footer-links">
		<div class="container">
			<nav class="front-footer-linknav" aria-label="푸터 링크">
				<a href="#" class="front-footer-link">회사소개</a>
				<a href="#" class="front-footer-link">이용약관</a>
				<a href="#" class="front-footer-link">개인정보처리방침</a>
				<a href="#" class="front-footer-link">이용안내</a>
				<a href="#" class="front-footer-link">고객센터</a>
				<a href="#" class="front-footer-link">오시는길</a>
			</nav>
		</div>
	</div>

	<!-- ▣ 하단 회사 정보 -->
	<div class="container front-footer-bottom-wrap">
		<div class="row">
			<div class="col-12 col-md-4 front-footer-logo-col">
				<img src="/front/image/sample/500-80.png" alt="iBIOscience" class="front-footer-logo" />
			</div>
			<div class="col-12 col-md-8">
				<div class="front-footer-company">
					<div>상호명 : (주)아이바이오사이언스</div>
					<div>대표자명 : 고창욱 | 사업자등록번호 : 000-00-00000 | 통신판매업신고번호 : 제20240-서울종로-000호</div>
					<div>주소 : 서울 종로구 돈화문로 11가길 59, 1703호(익선동, 현대뜨레비앙) | 전화번호 : 02-743-7190 | 팩스 : 02-743-7191</div>
					<div>이메일 : ibiosci@naver.com</div>
					<div class="front-footer-copy">Copyrights ⓒ2025 All Rights Reserved by (주)아이바이오</div>
				</div>
			</div>
		</div>
	</div>

	<div class="back-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
</footer>

<th:block th:fragment="communityBtnGroup">
	<!-- 모바일 전용 커뮤니티 메뉴 버튼 -->
	<button type="button" class="community-common-fab" aria-controls="community-common-modal" aria-expanded="false"
		aria-label="커뮤니티 메뉴 열기">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</button>

	<!-- 모달 & 오버레이 -->
	<div id="community-common-modal" class="community-common-modal" role="dialog" aria-modal="true" aria-hidden="true">
		<div class="community-common-overlay" data-community-common-close></div>

		<div class="community-common-dialog" role="document" aria-labelledby="community-common-modal-title"
			tabindex="-1">
			<button type="button" class="community-common-close" aria-label="닫기" data-community-common-close>
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>

			<h3 id="community-common-modal-title" class="community-common-title">커뮤니티</h3>

			<nav class="community-common-menu" aria-label="커뮤니티 메뉴">
				<a href="/noticeList" class="community-common-item">
					<i class="fa fa-bullhorn" aria-hidden="true"></i><span>공지사항</span>
				</a>
				<a href="/qna" class="community-common-item">
					<i class="fa fa-question-circle" aria-hidden="true"></i><span>QnA</span>
				</a>
				<a href="/eventList" class="community-common-item">
					<i class="fa fa-gift" aria-hidden="true"></i><span>이벤트</span>
				</a>
			</nav>
		</div>
	</div>

	<script>
		(function () {
			var fab = document.querySelector('.community-common-fab');
			var modal = document.getElementById('community-common-modal');
			var overlay = modal.querySelector('.community-common-overlay');
			var closeBtns = modal.querySelectorAll('[data-community-common-close]');
			var dialog = modal.querySelector('.community-common-dialog');

			function openModal() {
				modal.setAttribute('aria-hidden', 'false');
				fab.setAttribute('aria-expanded', 'true');
				document.body.classList.add('community-common-modal-open');
				// 포커스 이동(접근성)
				setTimeout(function () {dialog.focus && dialog.focus();}, 0);
			}
			function closeModal() {
				modal.setAttribute('aria-hidden', 'true');
				fab.setAttribute('aria-expanded', 'false');
				document.body.classList.remove('community-common-modal-open');
				// 트리거로 포커스 복귀
				setTimeout(function () {fab.focus && fab.focus();}, 0);
			}

			// FAB 클릭 -> 열기
			fab.addEventListener('click', function () {
				// 991px 이하일 때만 동작 (안전장치)
				if (window.matchMedia('(max-width: 991px)').matches) openModal();
			});

			// 오버레이 클릭, X 버튼 클릭 -> 닫기
			overlay.addEventListener('click', closeModal);
			closeBtns.forEach(function (btn) {btn.addEventListener('click', closeModal);});

			// ESC 닫기
			document.addEventListener('keydown', function (e) {
				if (e.key === 'Escape' && modal.getAttribute('aria-hidden') === 'false') {
					closeModal();
				}
			});

			// 뷰포트가 커지면(데스크톱 전환) 자동 닫기
			window.addEventListener('resize', function () {
				if (window.matchMedia('(min-width: 992px)').matches && modal.getAttribute('aria-hidden') === 'false') {
					closeModal();
				}
			});
		})();
	</script>
</th:block>

<!-- ========================= 2) 버튼 그룹: myPageBtnGroup ========================= -->
<th:block th:fragment="myPageBtnGroup" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<!-- 모바일 전용 마이페이지 메뉴 버튼 -->
	<button type="button" class="myPage-common-fab" aria-controls="myPage-common-modal" aria-expanded="false"
		aria-label="마이페이지 메뉴 열기">
		<i class="fas fa-bars" aria-hidden="true"></i>
	</button>

	<!-- 모달 & 오버레이 -->
	<div id="myPage-common-modal" class="myPage-common-modal" role="dialog" aria-modal="true" aria-hidden="true">
		<div class="myPage-common-overlay" data-myPage-common-close></div>

		<div class="myPage-common-dialog" role="document" aria-labelledby="myPage-common-modal-title" tabindex="-1">
			<button type="button" class="myPage-common-close" aria-label="닫기" data-myPage-common-close>
				<i class="fas fa-times" aria-hidden="true"></i>
			</button>

			<h3 id="myPage-common-modal-title" class="myPage-common-title">마이페이지</h3>

			<!-- ⚠️ active 미적용: data-basepath/JS 없음 -->
			<nav class="myPage-common-menu" aria-label="마이페이지 메뉴" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="
             mem=${#authentication != null ? #authentication?.principal?.member : null},
             memId=${mem != null ? mem.id : 0},
             memTypeName=${#authentication != null ? #authentication?.principal?.uiMemberTypeName : ''}">

				<a th:href="@{|/customer/myPage/${memId}|}" class="myPage-common-item">
					<i class="fas fa-user-circle" aria-hidden="true"></i><span>마이페이지</span>
				</a>

				<a th:href="@{|/customer/orderList/${memId}|}" class="myPage-common-item">
					<i class="fas fa-shipping-fast" aria-hidden="true"></i><span>주문배송조회</span>
				</a>

				<a th:href="@{|/customer/pointList/${memId}|}" class="myPage-common-item">
					<i class="fas fa-coins" aria-hidden="true"></i><span>적립금내역</span>
				</a>

				<a th:href="@{|/customer/estimateList/${memId}|}" class="myPage-common-item">
					<i class="fas fa-file-invoice-dollar" aria-hidden="true"></i><span>견적문의</span>
				</a>

				<a th:href="@{|/customer/couponList/${memId}|}" class="myPage-common-item">
					<i class="fas fa-ticket-alt" aria-hidden="true"></i><span>마이쿠폰</span>
				</a>

				<a th:href="@{|/customer/wishList/${memId}|}" class="myPage-common-item">
					<i class="fas fa-heart" aria-hidden="true"></i><span>관심상품</span>
				</a>

				<a th:href="@{|/customer/reviewList/${memId}|}" class="myPage-common-item">
					<i class="fas fa-star" aria-hidden="true"></i><span>나의상품후기</span>
				</a>

				<a th:href="@{|/customer/exchangeReturnList/${memId}|}" class="myPage-common-item">
					<i class="fas fa-exchange-alt" aria-hidden="true"></i><span>교환-반품신청</span>
				</a>

				<a th:href="@{|/customer/inquiryList/${memId}|}" class="myPage-common-item">
					<i class="fas fa-headset" aria-hidden="true"></i><span>1:1문의</span>
				</a>

				<!-- 직원 -->
				<a th:if="${memTypeName == 'STAFF'}" th:href="@{|/admin/common/memberDetail/${memId}|}"
					class="myPage-common-item">
					<i class="fas fa-user-cog" aria-hidden="true"></i><span>직원정보수정</span>
				</a>

				<!-- 개인 -->
				<a th:if="${memTypeName == 'PERSONAL_USER' or memTypeName == 'PERSONAL_BUYER_DEALER'}"
					th:href="@{|/customer/personalInfoUpdate/${memId}|}" class="myPage-common-item">
					<i class="fas fa-user-cog" aria-hidden="true"></i><span>일반회원정보수정</span>
				</a>

				<!-- 기업 -->
				<a th:if="${memTypeName == 'COMPANY_USER' or memTypeName == 'COMPANY_BUYER_DEALER' or memTypeName == 'COMPANY_SELLER_DEALER'}"
					th:href="@{|/customer/companyInfoUpdate/${memId}|}" class="myPage-common-item">
					<i class="fas fa-user-cog" aria-hidden="true"></i><span>기업회원정보수정</span>
				</a>
			</nav>
		</div>
	</div>

	<!-- 모달 열고닫기만 처리 (active 스크립트 없음) -->
	<script>
		(function () {
			var fab = document.querySelector('.myPage-common-fab');
			var modal = document.getElementById('myPage-common-modal');
			if (!fab || !modal) return;

			var overlay = modal.querySelector('.myPage-common-overlay');
			var closeBtns = modal.querySelectorAll('[data-myPage-common-close]');
			var dialog = modal.querySelector('.myPage-common-dialog');

			function openModal() {
				modal.setAttribute('aria-hidden', 'false');
				fab.setAttribute('aria-expanded', 'true');
				document.body.classList.add('myPage-common-modal-open');
				setTimeout(function () {dialog && dialog.focus && dialog.focus();}, 0);
			}
			function closeModal() {
				modal.setAttribute('aria-hidden', 'true');
				fab.setAttribute('aria-expanded', 'false');
				document.body.classList.remove('myPage-common-modal-open');
				setTimeout(function () {fab && fab.focus && fab.focus();}, 0);
			}

			// FAB 클릭 -> 열기 (991px 이하에서만)
			fab.addEventListener('click', function () {
				if (window.matchMedia('(max-width: 991px)').matches) openModal();
			});

			// 오버레이 & X 버튼 -> 닫기
			overlay && overlay.addEventListener('click', closeModal);
			closeBtns.forEach(function (btn) {btn.addEventListener('click', closeModal);});

			// ESC 닫기
			document.addEventListener('keydown', function (e) {
				if (e.key === 'Escape' && modal.getAttribute('aria-hidden') === 'false') closeModal();
			});

			// 데스크톱 전환 시 자동 닫기
			window.addEventListener('resize', function () {
				if (window.matchMedia('(min-width: 992px)').matches && modal.getAttribute('aria-hidden') === 'false') {
					closeModal();
				}
			});
		})();
	</script>
</th:block>

<!-- ========================= 1) 사이드 탭: myPageSideMenu ========================= -->
<th:block th:fragment="myPageSideMenu" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<th:block th:with="
      mem=${#authentication != null ? #authentication?.principal?.member : null},
      memId=${mem != null ? mem.id : 0},
      memTypeName=${#authentication != null ? #authentication?.principal?.uiMemberTypeName : ''}">

		<ul class="nav nav-tabs col-lg-2 col-md-2 col-sm-2 m-d-n" sec:authorize="isAuthenticated()">
			<li class="item_nonactive">
				<a th:href="@{|/customer/myPage/${memId}|}" data-basepath="/customer/myPage">마이페이지</a>
			</li>
			<li class="item_nonactive">
				<a th:href="@{|/customer/orderList/${memId}|}" data-basepath="/customer/orderList">주문배송조회</a>
			</li>
			<li class="item_nonactive">
				<a th:href="@{|/customer/pointList/${memId}|}" data-basepath="/customer/pointList">적립금내역</a>
			</li>
			<li class="item_nonactive">
				<a th:href="@{|/customer/estimateList/${memId}|}" data-basepath="/customer/estimateList">견적문의</a>
			</li>
			<li class="item_nonactive">
				<a th:href="@{|/customer/couponList/${memId}|}" data-basepath="/customer/couponList">마이쿠폰</a>
			</li>
			<li class="item_nonactive">
				<a th:href="@{|/customer/wishList/${memId}|}" data-basepath="/customer/wishList">관심상품</a>
			</li>
			<li class="item_nonactive">
				<a th:href="@{|/customer/reviewList/${memId}|}" data-basepath="/customer/reviewList">나의상품후기</a>
			</li>
			<li class="item_nonactive">
				<a th:href="@{|/customer/exchangeReturnList/${memId}|}"
					data-basepath="/customer/exchangeReturnList">교환/반품신청</a>
			</li>
			<li class="item_nonactive">
				<a th:href="@{|/customer/inquiryList/${memId}|}" data-basepath="/customer/inquiryList">1:1문의</a>
			</li>

			<!-- 직원(사내) → /admin/common/memberDetail/{id} -->
			<li class="item_nonactive" th:if="${memTypeName == 'STAFF'}">
				<a th:href="@{|/admin/common/memberDetail/${memId}|}"
					data-basepath="/admin/common/memberDetail">직원정보수정</a>
			</li>

			<!-- 개인 (개인 일반/개인 구매딜러) -->
			<li class="item_nonactive"
				th:if="${memTypeName == 'PERSONAL_USER' or memTypeName == 'PERSONAL_BUYER_DEALER'}">
				<a th:href="@{|/customer/personalInfoUpdate/${memId}|}"
					data-basepath="/customer/personalInfoUpdate">개인회원정보수정</a>
			</li>

			<!-- 기업 (법인 일반/법인 구매딜러/법인 판매+구매딜러) -->
			<li class="item_nonactive"
				th:if="${memTypeName == 'COMPANY_USER' or memTypeName == 'COMPANY_BUYER_DEALER' or memTypeName == 'COMPANY_SELLER_DEALER'}">
				<a th:href="@{|/customer/companyInfoUpdate/${memId}|}"
					data-basepath="/customer/companyInfoUpdate">기업회원정보수정</a>
			</li>
		</ul>

		<!-- ✅ active 처리: 사이드 탭(m-d-n)만 대상 -->
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var path = window.location.pathname;
				document.querySelectorAll('.m-d-n a[data-basepath]').forEach(function (a) {
					var base = a.getAttribute('data-basepath');
					if (!base) return;
					if (path.indexOf(base) !== -1) {
						a.classList.add('active');
						var li = a.closest('li');
						if (li) {
							li.classList.remove('item_nonactive');
							li.classList.add('active');
						}
					}
				});
			});
		</script>

	</th:block>
</th:block>

<th:block th:fragment="frontScript">
	<script th:inline="javascript">
		// 전역: 대분류 목록 주입 (초기 메가메뉴용)
		window.__IBIO_LARGE_CATEGORIES__ = /*[[${globalLargeCategories}]]*/[];

		// 전역: 로그인 여부 주입
		window.__isAuthenticated = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;

		// ✅ 전역: 로그인 유저 ID 주입 (비로그인/null 안전)
		window.__loginMemberId = /*[[${#authorization.expression('isAuthenticated()') ? #authentication.principal.member.id : null}]]*/ null;
	</script>
	<script type="text/javascript" src="/front/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="/front/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/front/js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="/front/js/slick-slider/slick.js"></script>
	<script type="text/javascript" src="/front/js/themejs/libs.js"></script>
	<script type="text/javascript" src="/front/js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript" src="/front/js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript" src="/front/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript" src="/front/js/datetimepicker/moment.js"></script>
	<script type="text/javascript" src="/front/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="/front/js/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/front/js/modernizr/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="/front/js/minicolors/jquery.miniColors.min.js"></script>
	<script type="text/javascript" src="/front/js/themejs/application.js"></script>
	<script type="text/javascript" src="/front/js/themejs/homepage.js"></script>
	<script type="text/javascript" src="/front/js/themejs/toppanel.js"></script>
	<script type="text/javascript" src="/front/js/themejs/so_megamenu.js"></script>
	<script type="text/javascript" src="/front/js/themejs/addtocart.js"></script>
	<script type="text/javascript" src="/front/js/page/ibio-menu-adapter.js"></script>
	<script type="text/javascript" src="/front/js/page/ibio-index-megamenu.js"></script>
	<script type="text/javascript" src="/front/js/page/footer.js"></script>
	<script type="text/javascript" src="/front/js/page/cart.js"></script>
	<script type="text/javascript" src="/front/js/page/wish.js"></script>
	<!-- ✅ 전역으로 쓸 스크립트: ideally frontScript(fragment) -->
	<script src="/front/js/page/recent-view-product.js"></script>
	<script>
		(function () {
			"use strict";
			// 로그아웃 버튼 처리(데스크톱/모바일)
			var logoutBtnDesktop = document.getElementById('logoutBtn-desktop');
			var logoutFormDesktop = document.getElementById('logoutForm-desktop');
			if (logoutBtnDesktop && logoutFormDesktop) {
				logoutBtnDesktop.addEventListener('click', function (e) {
					e.preventDefault();
					logoutFormDesktop.submit();
				});
			}
			var logoutBtnMobile = document.getElementById('logoutBtn-mobile');
			var logoutFormMobile = document.getElementById('logoutForm-mobile');
			if (logoutBtnMobile && logoutFormMobile) {
				logoutBtnMobile.addEventListener('click', function (e) {
					e.preventDefault();
					logoutFormMobile.submit();
				});
			}

			// 로그인 필요 메뉴 클릭 차단 공통 처리
			function onRequireAuthClick(e) {
				if (!window.__isAuthenticated) {
					e.preventDefault();
					alert('로그인 후 이용해 주세요.');
					window.location.href = '/signIn';
				}
			}
			document.querySelectorAll('.require-auth,[data-require-auth="true"]').forEach(function (el) {
				el.addEventListener('click', onRequireAuthClick);
			});
		})();
	</script>

</th:block>
</body>

</html>