<!doctype html>
<html 
lang="en" 
data-layout="vertical" 
data-topbar="light" 
data-sidebar="dark" 
data-sidebar-size="lg" 
data-sidebar-image="none" 
data-preloader="disable"
xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/administration/common :: ibioAdminHead('홈')}"></head>

<body>

	<div id="layout-wrapper">
	
		<header id="page-topbar" th:replace="~{fragments/administration/common :: ibioAdminHeaderMenu}"></header>
	
		<div class="app-menu navbar-menu" th:replace="~{fragments/administration/common :: ibioAdminSideMenu}"></div>
		<div class="vertical-overlay"></div>
	
		<div class="main-content">
	
			<div class="page-content">
				<div class="container-fluid">
	
					<div class="row">
					</div>
				</div>
			</div>
	
			<footer class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<script>document.write(new Date().getFullYear())</script> © IBIOSCIENCE.
						</div>
						<div class="col-sm-6">
							<div class="text-sm-end d-none d-sm-block">
								Design & Develop by IBIOSCIENCE
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	
	
	<th:block th:replace="~{fragments/administration/common :: ibioAdminButton}"></th:block>
    <th:block th:replace="fragments/administration/common :: ibioAdminScript"></th:block>
</body>

</html>